{% extends 'App::base.html.twig' %}

{% block content %}

<h1>Administration</h1>

{{ bootstrap_datatable(
    cheeses, 
    {'name': 'Name', 'region': 'Country / Region', 'milk': 'Type of milk', 'score': 'Rating'}
) }}

{% endblock %}