{% extends 'App::base.html.twig' %}

{% block content %}

<h1>Administration</h1>

<table class="table">
{{ bootstrap_datatable(
    cheeses, 
    { 
        fields: {
            name:   'Name', 
            region: 'Country / Region', 
            milk:   'Type of milk', 
            score:  'Rating'
        },
        routes: {
            show: {
                path:       'app_cheeses_show',
                label:      'Show',
                parameters: { name: 'name' }
            },
            edit: {
                path:       'app_cheeses_edit',
                label:      'Edit',
                parameters: { name: 'name' }
            },
            delete: {
                path:       'app_cheeses_remove',
                label:      'Delete',
                parameters: { name: 'name' }
            },
        }
    }
) }}
</table>

{% endblock %}