{% extends 'App::layout.html.twig' %}

{% block content %}

<h1>Update a cheese</h1>

<form action="{{ path('app_cheeses_update', {'name': cheese.name}) }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
    <input type="hidden" name="_method" value="PUT" />

    {{ form_widget(form) }}

    <div class="form-horizontal">
        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-success" value="Update" />
                <a href="{{ path('app_cheeses_show', {'name': cheese.name}) }}" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </div>

</form>

{% endblock %}
