{% extends 'App::base.html.twig' %}

{% block body %}

<h1>{{ milk }} cheeses</h1>

{% include 'App:Cheeses:_list.html.twig' with {'cheeses': cheeses} %}

<footer>
    <a href="{{ path('index_cheeses') }}">Back</a>
</footer>

{% endblock %}
