<ul class="nav nav-pills nav-stacked">
    <li class="nav-header">Regions</li>
    {% for region in regions %}
    <li><a href="{{ path('app_cheeses_indexRegion', { region: region.region }) }}">{{ region.region }}</a></li>
    {% endfor %}
</ul>
