{% extends 'App::base.html.twig' %}

{% block content %}

<h1>Create a new cheese</h1>

<form action="{{ path('app_cheeses_create') }}" {{ form_enctype(form) }} method="POST" >

    {{ form_widget(form) }}

    <div class="form-horizontal">
        <div class="control-group">
            <div class="controls">
                <input type="submit" class="btn btn-success" value="Create" />
                <a href="{{ path('app_cheeses_index') }}" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    </div>

</form>

{% endblock %}
