{% extends 'App::base.html.twig' %}

{% block body %}

<h1>Create a new cheese</h1>

<form action="{{ path('create_cheese') }}" {{ form_enctype(form) }} method="POST" >

    {{ form_widget(form) }}

    <input type="submit" class="btn btn-success" value="Create" />

</form>

{% endblock %}
