.table-hover tr{
    cursor: pointer;
}

.cheeses TD{
    vertical-align: middle;
}

.cheeses IMG{
    height: 80px;
}

.cheese IMG{
    width: 175px;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    font-size: 20px;
}
.rating > a {
    display: inline-block;
    text-decoration: none;
    position: relative;
    width: 1.1em;
}
.rating > a:hover:before,
.rating > a:hover ~ a:before {
    content: "\2605";
    position: absolute;
}
